#s-ae7b26ca-508f-4874-8bcb-9422a8003458 > #backgroundBox {
  background-color: #000000;
  position: absolute;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 > #alignmentBox {
  position: relative;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Image_1 {
  position: absolute;
  width: 1920.0px;
  height: 1080.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Image_1 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_1 {
  position: absolute;
  width: 240.00000000000045px;
  min-height: 71.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_1 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_3 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 48.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_4 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_2 {
  position: absolute;
  width: 261.796875px;
  min-height: 56.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_2 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #shapewrapper-s-Line_1 marker {
  fill: #DDDDDD;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 1920.000260416649px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(-0.029841549131384478deg);
  -moz-transform: rotate(-0.029841549131384478deg);
  transform: rotate(-0.029841549131384478deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Line_1 {
  width: 1920.000260416649px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Line_1 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_6 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_4 textarea::-webkit-input-placeholder {
  color: #000000;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_4 textarea::-moz-placeholder {
  color: #000000;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_4 textarea:-moz-placeholder {
  color: #000000;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_4 textarea:-ms-input-placeholder {
  color: #000000;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_4 {
  position: absolute;
  width: 406.46772359226355px;
  height: 39.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_4 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_4 textarea {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 18.0pt;
  text-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_11 {
  position: absolute;
  width: 240.0px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_11 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_11 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_11 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_11 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_12 {
  position: absolute;
  width: 240.0px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_12 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_12 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_12 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_12 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_10 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_5 textarea::-webkit-input-placeholder {
  color: #000000;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_5 textarea::-moz-placeholder {
  color: #000000;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_5 textarea:-moz-placeholder {
  color: #000000;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_5 textarea:-ms-input-placeholder {
  color: #000000;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_5 {
  position: absolute;
  width: 406.46772359226355px;
  height: 39.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_5 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_5 textarea {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 18.0pt;
  text-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Input_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_11 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_13 {
  position: absolute;
  width: 261.796875px;
  min-height: 56.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_13 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_13 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_13 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_13 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_12 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_14 {
  position: absolute;
  width: 261.796875px;
  min-height: 56.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_14 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_14 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_14 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_14 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_13 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #shapewrapper-s-Line_2 marker {
  fill: #DDDDDD;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 539.9999999999999px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Line_2 {
  width: 539.9999999999999px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Line_2 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #shapewrapper-s-Line_3 marker {
  fill: #DDDDDD;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 539.9999999999999px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Line_3 {
  width: 539.9999999999999px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #DDDDDD;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Line_3 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_5 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_7 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_8 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_9 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_14 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_15 {
  position: absolute;
  width: 261.796875px;
  min-height: 56.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_15 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_15 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_15 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_15 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_15 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_15 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_16 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_17 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_18 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_18 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_19 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_19 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 24.0pt;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_5 {
  position: absolute;
  width: 359.85520579006015px;
  min-height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_5 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: rgba(242,242,242,0.5);
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_5 > .borderLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_5 > .backgroundLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_6 {
  position: absolute;
  width: 359.85520579006015px;
  min-height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_6 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(242,242,242,0.5);
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_6 > .borderLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_6 > .backgroundLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_7 {
  position: absolute;
  width: 359.85520579006015px;
  min-height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_7 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: rgba(242,242,242,0.5);
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_7 > .borderLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_8 {
  position: absolute;
  width: 359.85520579006015px;
  min-height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_8 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_8 > .backgroundLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: rgba(242,242,242,0.5);
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_8 > .borderLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_8 > .backgroundLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_9 {
  position: absolute;
  width: 359.85520579006015px;
  min-height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_9 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_9 > .backgroundLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: rgba(242,242,242,0.5);
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_9 > .borderLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_9 > .backgroundLayer {
  border-radius: 0px 10px 10px 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_1 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_1 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}
_:-ms-fullscreen, :root #s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_2 {
  box-shadow: none;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_2 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ae7b26ca-508f-4874-8bcb-9422a8003458 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}